production_import_specs/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="meta"/>
                <xs:element ref="productions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="meta">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="next"/>
                <xs:element ref="previous"/>
                <xs:element ref="total_count"/>
                <xs:element ref="items_per_page"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="next" type="xs:anyURI"/>
    <xs:element name="previous" type="xs:anyURI"/>
    <xs:element name="total_count" type="xs:integer"/>
    <xs:element name="items_per_page" type="xs:integer"/>
    <xs:element name="productions">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="production"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="production">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="creation_date"/>
                <xs:element ref="modified_date" minOccurs="0"/>
                <xs:element ref="status"/>
                <xs:element ref="prefix_de" minOccurs="0"/>
                <xs:element ref="prefix_en" minOccurs="0"/>
                <xs:element ref="title_de"/>
                <xs:element ref="title_en"/>
                <xs:element ref="subtitle_de" minOccurs="0"/>
                <xs:element ref="subtitle_en" minOccurs="0"/>
                <xs:element ref="original_de" minOccurs="0"/>
                <xs:element ref="original_en" minOccurs="0"/>
                <xs:element ref="website_de" minOccurs="0"/>
                <xs:element ref="website_en" minOccurs="0"/>
                <xs:element ref="description_de" minOccurs="0"/>
                <xs:element ref="description_en" minOccurs="0"/>
                <xs:element ref="teaser_de" minOccurs="0"/>
                <xs:element ref="teaser_en" minOccurs="0"/>
                <xs:element ref="work_info_de" minOccurs="0"/>
                <xs:element ref="work_info_en" minOccurs="0"/>
                <xs:element ref="contents_de" minOccurs="0"/>
                <xs:element ref="contents_en" minOccurs="0"/>
                <xs:element ref="press_text_de" minOccurs="0"/>
                <xs:element ref="press_text_en" minOccurs="0"/>
                <xs:element ref="credits_de" minOccurs="0"/>
                <xs:element ref="credits_en" minOccurs="0"/>
                <xs:element ref="concert_program_de" minOccurs="0"/>
                <xs:element ref="concert_program_en" minOccurs="0"/>
                <xs:element ref="supporting_program_de" minOccurs="0"/>
                <xs:element ref="supporting_program_en" minOccurs="0"/>
                <xs:element ref="remarks_de" minOccurs="0"/>
                <xs:element ref="remarks_en" minOccurs="0"/>
                <xs:element ref="duration_text_de" minOccurs="0"/>
                <xs:element ref="duration_text_en" minOccurs="0"/>
                <xs:element ref="subtitles_text_de" minOccurs="0"/>
                <xs:element ref="subtitles_text_en" minOccurs="0"/>
                <xs:element ref="age_text_de" minOccurs="0"/>
                <xs:element ref="age_text_en" minOccurs="0"/>
                <xs:element ref="ensembles" minOccurs="0"/>
                <xs:element ref="organizers" minOccurs="0"/>
                <xs:element ref="in_cooperation_with" minOccurs="0"/>
                <xs:element ref="free_entrance" minOccurs="0"/>
                <xs:element ref="price_from" minOccurs="0"/>
                <xs:element ref="price_till" minOccurs="0"/>
                <xs:element ref="tickets_website" minOccurs="0"/>
                <xs:element ref="price_information_de" minOccurs="0"/>
                <xs:element ref="price_information_en" minOccurs="0"/>
                <xs:element ref="age_from" minOccurs="0"/>
                <xs:element ref="age_till" minOccurs="0"/>
                <xs:element ref="edu_offer_website" minOccurs="0"/>
                <xs:element ref="in_program_of" minOccurs="0"/>
                <xs:element ref="play_locations" minOccurs="0"/>
                <xs:element ref="play_stages" minOccurs="0"/>
                <xs:element ref="location_title" minOccurs="0"/>
                <xs:element ref="street_address" minOccurs="0"/>
                <xs:element ref="street_address2" minOccurs="0"/>
                <xs:element ref="postal_code" minOccurs="0"/>
                <xs:element ref="city" minOccurs="0"/>
                <xs:element ref="latitude" minOccurs="0"/>
                <xs:element ref="longitude" minOccurs="0"/>
                <xs:element ref="categories" minOccurs="0"/>
                <xs:element ref="characteristics" minOccurs="0"/>
                <xs:element ref="leaders" minOccurs="0"/>
                <xs:element ref="authors" minOccurs="0"/>
                <xs:element ref="participants" minOccurs="0"/>
                <xs:element ref="videos" minOccurs="0"/>
                <xs:element ref="live_streams" minOccurs="0"/>
                <xs:element ref="images" minOccurs="0"/>
                <xs:element ref="pdfs" minOccurs="0"/>
                <xs:element ref="social_media" minOccurs="0"/>
                <xs:element ref="language_and_subtitles_id" minOccurs="0"/>
                <xs:element ref="sponsors" minOccurs="0"/>
                <xs:element ref="events" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="status">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="draft"/>
                <xs:enumeration value="published"/>
                <xs:enumeration value="not_listed"/>
                <xs:enumeration value="expired"/>
                <xs:enumeration value="trashed"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="prefix_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prefix_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="subtitle_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="subtitle_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="original_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="original_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="website_de" type="xs:anyURI"/>
    <xs:element name="website_en" type="xs:anyURI"/>
    <xs:element name="ensembles">
        <xs:complexType/>
    </xs:element>
    <xs:element name="in_cooperation_with">
        <xs:complexType/>
    </xs:element>
    <xs:element name="age_from">
        <xs:simpleType>
            <xs:union>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:length value='0'/>
                    </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                    <xs:restriction base='xs:integer'>
                    </xs:restriction>
                </xs:simpleType>
            </xs:union>
        </xs:simpleType>
    </xs:element>
    <xs:element name="age_till">
        <xs:simpleType>
            <xs:union>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:length value='0'/>
                    </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                    <xs:restriction base='xs:integer'>
                    </xs:restriction>
                </xs:simpleType>
            </xs:union>
        </xs:simpleType>
    </xs:element>
    <xs:element name="edu_offer_website" type="xs:anyURI"/>
    <xs:element name="in_program_of">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="location_id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="categories">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="category_id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="category_id">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
                <xs:enumeration value="5"/>
                <xs:enumeration value="6"/>
                <xs:enumeration value="7"/>
                <xs:enumeration value="8"/>
                <xs:enumeration value="9"/>
                <xs:enumeration value="10"/>
                <xs:enumeration value="11"/>
                <xs:enumeration value="12"/>
                <xs:enumeration value="13"/>
                <xs:enumeration value="15"/>
                <xs:enumeration value="16"/>
                <xs:enumeration value="17"/>
                <xs:enumeration value="18"/>
                <xs:enumeration value="19"/>
                <xs:enumeration value="20"/>
                <xs:enumeration value="22"/>
                <xs:enumeration value="23"/>
                <xs:enumeration value="24"/>
                <xs:enumeration value="25"/>
                <xs:enumeration value="27"/>
                <xs:enumeration value="28"/>
                <xs:enumeration value="29"/>
                <xs:enumeration value="30"/>
                <xs:enumeration value="31"/>
                <xs:enumeration value="32"/>
                <xs:enumeration value="34"/>
                <xs:enumeration value="35"/>
                <xs:enumeration value="36"/>
                <xs:enumeration value="37"/>
                <xs:enumeration value="38"/>
                <xs:enumeration value="39"/>
                <xs:enumeration value="40"/>
                <xs:enumeration value="41"/>
                <xs:enumeration value="42"/>
                <xs:enumeration value="43"/>
                <xs:enumeration value="44"/>
                <xs:enumeration value="45"/>
                <xs:enumeration value="46"/>
                <xs:enumeration value="47"/>
                <xs:enumeration value="48"/>
                <xs:enumeration value="49"/>
                <xs:enumeration value="50"/>
                <xs:enumeration value="51"/>
                <xs:enumeration value="52"/>
                <xs:enumeration value="53"/>
                <xs:enumeration value="54"/>
                <xs:enumeration value="55"/>
                <xs:enumeration value="56"/>
                <xs:enumeration value="57"/>
                <xs:enumeration value="62"/>
                <xs:enumeration value="63"/>
                <xs:enumeration value="64"/>
                <xs:enumeration value="65"/>
                <xs:enumeration value="66"/>
                <xs:enumeration value="68"/>
                <xs:enumeration value="69"/>
                <xs:enumeration value="70"/>
                <xs:enumeration value="71"/>
                <xs:enumeration value="72"/>
                <xs:enumeration value="73"/>
                <xs:enumeration value="74"/>
                <xs:enumeration value="75"/>
                <xs:enumeration value="76"/>
                <xs:enumeration value="77"/>
                <xs:enumeration value="78"/>
                <xs:enumeration value="79"/>
                <xs:enumeration value="80"/>
                <xs:enumeration value="81"/>
                <xs:enumeration value="82"/>
                <xs:enumeration value="83"/>
                <xs:enumeration value="84"/>
                <xs:enumeration value="85"/>
                <xs:enumeration value="86"/>
                <xs:enumeration value="87"/>
                <xs:enumeration value="88"/>
                <xs:enumeration value="89"/>
                <xs:enumeration value="90"/>
                <xs:enumeration value="91"/>
                <xs:enumeration value="92"/>
                <xs:enumeration value="93"/>
                <xs:enumeration value="94"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="social_media">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="social_media_channel"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="social_media_channel">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="channel_type"/>
                <xs:element ref="url"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="channel_type" type="xs:NCName"/>
    <xs:element name="events">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="event"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="event">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="creation_date"/>
                <xs:element ref="modified_date" minOccurs="0"/>
                <xs:element ref="start_date"/>
                <xs:element ref="end_date" minOccurs="0"/>
                <xs:element ref="start_time"/>
                <xs:element ref="end_time" minOccurs="0"/>
                <xs:element ref="duration" minOccurs="0"/>
                <xs:element ref="pauses" minOccurs="0"/>
                <xs:element ref="play_locations" minOccurs="0"/>
                <xs:element ref="play_stages" minOccurs="0"/>
                <xs:element ref="location_title" minOccurs="0"/>
                <xs:element ref="street_address" minOccurs="0"/>
                <xs:element ref="street_address2" minOccurs="0"/>
                <xs:element ref="postal_code" minOccurs="0"/>
                <xs:element ref="city" minOccurs="0"/>
                <xs:element ref="latitude" minOccurs="0"/>
                <xs:element ref="longitude" minOccurs="0"/>
                <xs:element ref="organizers" minOccurs="0"/>
                <xs:element ref="description_de" minOccurs="0"/>
                <xs:element ref="description_en" minOccurs="0"/>
                <xs:element ref="teaser_de" minOccurs="0"/>
                <xs:element ref="teaser_en" minOccurs="0"/>
                <xs:element ref="work_info_de" minOccurs="0"/>
                <xs:element ref="work_info_en" minOccurs="0"/>
                <xs:element ref="contents_de" minOccurs="0"/>
                <xs:element ref="contents_en" minOccurs="0"/>
                <xs:element ref="press_text_de" minOccurs="0"/>
                <xs:element ref="press_text_en" minOccurs="0"/>
                <xs:element ref="credits_de" minOccurs="0"/>
                <xs:element ref="credits_en" minOccurs="0"/>
                <xs:element ref="concert_program_de" minOccurs="0"/>
                <xs:element ref="concert_program_en" minOccurs="0"/>
                <xs:element ref="supporting_program_de" minOccurs="0"/>
                <xs:element ref="supporting_program_en" minOccurs="0"/>
                <xs:element ref="remarks_de" minOccurs="0"/>
                <xs:element ref="remarks_en" minOccurs="0"/>
                <xs:element ref="duration_text_de" minOccurs="0"/>
                <xs:element ref="duration_text_en" minOccurs="0"/>
                <xs:element ref="subtitles_text_de" minOccurs="0"/>
                <xs:element ref="subtitles_text_en" minOccurs="0"/>
                <xs:element ref="age_text_de" minOccurs="0"/>
                <xs:element ref="age_text_en" minOccurs="0"/>
                <xs:element ref="free_entrance" minOccurs="0"/>
                <xs:element ref="price_from" minOccurs="0"/>
                <xs:element ref="price_till" minOccurs="0"/>
                <xs:element ref="tickets_website" minOccurs="0"/>
                <xs:element ref="price_information_de" minOccurs="0"/>
                <xs:element ref="price_information_en" minOccurs="0"/>
                <xs:element ref="event_status"/>
                <xs:element ref="ticket_status" minOccurs="0"/>
                <xs:element ref="characteristics" minOccurs="0"/>
                <xs:element ref="leaders" minOccurs="0"/>
                <xs:element ref="authors" minOccurs="0"/>
                <xs:element ref="participants" minOccurs="0"/>
                <xs:element ref="videos" minOccurs="0"/>
                <xs:element ref="live_streams" minOccurs="0"/>
                <xs:element ref="images" minOccurs="0"/>
                <xs:element ref="pdfs" minOccurs="0"/>
                <xs:element ref="language_and_subtitles_id" minOccurs="0"/>
                <xs:element ref="sponsors" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="start_date" type="xs:date"/>
    <xs:element name="end_date" type="xs:date"/>
    <xs:simpleType name="time_hh_mm">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-1][0-9]:[0-5][0-9]"/>
            <xs:pattern value="[0-1][0-9]:[0-5][0-9]:[0-5][0-9]"/>
            <xs:pattern value="2[0-3]:[0-5][0-9]"/>
            <xs:pattern value="2[0-3]:[0-5][0-9]:[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="duration_hh_mm">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]:[0-5][0-9]"/>
            <xs:pattern value="[0-9]:[0-5][0-9]:[0-5][0-9]"/>
            <xs:pattern value="[0-1][0-9]:[0-5][0-9]"/>
            <xs:pattern value="[0-1][0-9]:[0-5][0-9]:[0-5][0-9]"/>
            <xs:pattern value="2[0-3]:[0-5][0-9]"/>
            <xs:pattern value="2[0-3]:[0-5][0-9]:[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="start_time" type="time_hh_mm"/>
    <xs:element name="end_time" type="time_hh_mm"/>
    <xs:element name="duration" type="duration_hh_mm"/>
    <xs:element name="pauses" type="xs:integer"/>
    <xs:element name="event_status">
        <xs:simpleType>
            <xs:restriction base="xs:NCName">
                <xs:enumeration value="takes_place"/>
                <xs:enumeration value="canceled"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ticket_status">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="tickets_@_box_office"/>
                <xs:enumeration value="sold_out"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="id" type="xs:integer"/>
    <xs:element name="creation_date" type="xs:dateTime"/>
    <xs:element name="modified_date" type="xs:dateTime"/>
    <xs:element name="title_de" type="xs:string"/>
    <xs:element name="title_en" type="xs:string"/>
    <xs:element name="description_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="description_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="teaser_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="teaser_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="work_info_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="work_info_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="contents_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="contents_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="press_text_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="press_text_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="credits_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="credits_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="concert_program_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="concert_program_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="supporting_program_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="supporting_program_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="remarks_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="remarks_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="duration_text_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="duration_text_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="subtitles_text_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="subtitles_text_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="age_text_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="age_text_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="organizers">
        <xs:complexType/>
    </xs:element>
    <xs:element name="free_entrance" type="xs:boolean"/>
    <xs:element name="price_from" type="xs:decimal"/>
    <xs:element name="price_till" type="xs:decimal"/>
    <xs:element name="tickets_website" type="xs:anyURI"/>
    <xs:element name="price_information_de">
        <xs:complexType/>
    </xs:element>
    <xs:element name="price_information_en">
        <xs:complexType/>
    </xs:element>
    <xs:element name="location_id">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
                <xs:enumeration value="5"/>
                <xs:enumeration value="6"/>
                <xs:enumeration value="7"/>
                <xs:enumeration value="8"/>
                <xs:enumeration value="9"/>
                <xs:enumeration value="12"/>
                <xs:enumeration value="13"/>
                <xs:enumeration value="14"/>
                <xs:enumeration value="15"/>
                <xs:enumeration value="16"/>
                <xs:enumeration value="19"/>
                <xs:enumeration value="20"/>
                <xs:enumeration value="21"/>
                <xs:enumeration value="22"/>
                <xs:enumeration value="23"/>
                <xs:enumeration value="24"/>
                <xs:enumeration value="25"/>
                <xs:enumeration value="26"/>
                <xs:enumeration value="28"/>
                <xs:enumeration value="29"/>
                <xs:enumeration value="31"/>
                <xs:enumeration value="32"/>
                <xs:enumeration value="33"/>
                <xs:enumeration value="34"/>
                <xs:enumeration value="38"/>
                <xs:enumeration value="39"/>
                <xs:enumeration value="40"/>
                <xs:enumeration value="42"/>
                <xs:enumeration value="43"/>
                <xs:enumeration value="45"/>
                <xs:enumeration value="48"/>
                <xs:enumeration value="49"/>
                <xs:enumeration value="51"/>
                <xs:enumeration value="53"/>
                <xs:enumeration value="54"/>
                <xs:enumeration value="55"/>
                <xs:enumeration value="56"/>
                <xs:enumeration value="57"/>
                <xs:enumeration value="58"/>
                <xs:enumeration value="59"/>
                <xs:enumeration value="60"/>
                <xs:enumeration value="61"/>
                <xs:enumeration value="63"/>
                <xs:enumeration value="65"/>
                <xs:enumeration value="66"/>
                <xs:enumeration value="68"/>
                <xs:enumeration value="69"/>
                <xs:enumeration value="70"/>
                <xs:enumeration value="71"/>
                <xs:enumeration value="72"/>
                <xs:enumeration value="73"/>
                <xs:enumeration value="74"/>
                <xs:enumeration value="75"/>
                <xs:enumeration value="76"/>
                <xs:enumeration value="77"/>
                <xs:enumeration value="78"/>
                <xs:enumeration value="79"/>
                <xs:enumeration value="80"/>
                <xs:enumeration value="129"/>
                <xs:enumeration value="130"/>
                <xs:enumeration value="132"/>
                <xs:enumeration value="133"/>
                <xs:enumeration value="150"/>
                <xs:enumeration value="156"/>
                <xs:enumeration value="157"/>
                <xs:enumeration value="161"/>
                <xs:enumeration value="167"/>
                <xs:enumeration value="168"/>
                <xs:enumeration value="172"/>
                <xs:enumeration value="180"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="play_locations">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="location_id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="play_stages">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="stage_id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="stage_id">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
                <xs:enumeration value="5"/>
                <xs:enumeration value="6"/>
                <xs:enumeration value="7"/>
                <xs:enumeration value="8"/>
                <xs:enumeration value="9"/>
                <xs:enumeration value="10"/>
                <xs:enumeration value="11"/>
                <xs:enumeration value="12"/>
                <xs:enumeration value="13"/>
                <xs:enumeration value="14"/>
                <xs:enumeration value="15"/>
                <xs:enumeration value="16"/>
                <xs:enumeration value="17"/>
                <xs:enumeration value="18"/>
                <xs:enumeration value="19"/>
                <xs:enumeration value="20"/>
                <xs:enumeration value="21"/>
                <xs:enumeration value="22"/>
                <xs:enumeration value="23"/>
                <xs:enumeration value="24"/>
                <xs:enumeration value="25"/>
                <xs:enumeration value="26"/>
                <xs:enumeration value="27"/>
                <xs:enumeration value="28"/>
                <xs:enumeration value="29"/>
                <xs:enumeration value="30"/>
                <xs:enumeration value="31"/>
                <xs:enumeration value="32"/>
                <xs:enumeration value="33"/>
                <xs:enumeration value="34"/>
                <xs:enumeration value="35"/>
                <xs:enumeration value="37"/>
                <xs:enumeration value="38"/>
                <xs:enumeration value="39"/>
                <xs:enumeration value="40"/>
                <xs:enumeration value="41"/>
                <xs:enumeration value="42"/>
                <xs:enumeration value="44"/>
                <xs:enumeration value="45"/>
                <xs:enumeration value="46"/>
                <xs:enumeration value="47"/>
                <xs:enumeration value="48"/>
                <xs:enumeration value="49"/>
                <xs:enumeration value="53"/>
                <xs:enumeration value="56"/>
                <xs:enumeration value="57"/>
                <xs:enumeration value="58"/>
                <xs:enumeration value="59"/>
                <xs:enumeration value="60"/>
                <xs:enumeration value="61"/>
                <xs:enumeration value="62"/>
                <xs:enumeration value="69"/>
                <xs:enumeration value="70"/>
                <xs:enumeration value="71"/>
                <xs:enumeration value="75"/>
                <xs:enumeration value="76"/>
                <xs:enumeration value="77"/>
                <xs:enumeration value="79"/>
                <xs:enumeration value="81"/>
                <xs:enumeration value="82"/>
                <xs:enumeration value="83"/>
                <xs:enumeration value="84"/>
                <xs:enumeration value="85"/>
                <xs:enumeration value="86"/>
                <xs:enumeration value="87"/>
                <xs:enumeration value="88"/>
                <xs:enumeration value="89"/>
                <xs:enumeration value="90"/>
                <xs:enumeration value="94"/>
                <xs:enumeration value="95"/>
                <xs:enumeration value="100"/>
                <xs:enumeration value="101"/>
                <xs:enumeration value="102"/>
                <xs:enumeration value="103"/>
                <xs:enumeration value="104"/>
                <xs:enumeration value="105"/>
                <xs:enumeration value="106"/>
                <xs:enumeration value="107"/>
                <xs:enumeration value="108"/>
                <xs:enumeration value="109"/>
                <xs:enumeration value="110"/>
                <xs:enumeration value="111"/>
                <xs:enumeration value="112"/>
                <xs:enumeration value="113"/>
                <xs:enumeration value="114"/>
                <xs:enumeration value="115"/>
                <xs:enumeration value="116"/>
                <xs:enumeration value="117"/>
                <xs:enumeration value="118"/>
                <xs:enumeration value="119"/>
                <xs:enumeration value="120"/>
                <xs:enumeration value="121"/>
                <xs:enumeration value="122"/>
                <xs:enumeration value="123"/>
                <xs:enumeration value="124"/>
                <xs:enumeration value="125"/>
                <xs:enumeration value="126"/>
                <xs:enumeration value="127"/>
                <xs:enumeration value="128"/>
                <xs:enumeration value="129"/>
                <xs:enumeration value="130"/>
                <xs:enumeration value="131"/>
                <xs:enumeration value="132"/>
                <xs:enumeration value="133"/>
                <xs:enumeration value="139"/>
                <xs:enumeration value="140"/>
                <xs:enumeration value="141"/>
                <xs:enumeration value="142"/>
                <xs:enumeration value="143"/>
                <xs:enumeration value="144"/>
                <xs:enumeration value="145"/>
                <xs:enumeration value="146"/>
                <xs:enumeration value="147"/>
                <xs:enumeration value="148"/>
                <xs:enumeration value="149"/>
                <xs:enumeration value="150"/>
                <xs:enumeration value="151"/>
                <xs:enumeration value="156"/>
                <xs:enumeration value="157"/>
                <xs:enumeration value="159"/>
                <xs:enumeration value="160"/>
                <xs:enumeration value="161"/>
                <xs:enumeration value="162"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="location_title">
        <xs:complexType/>
    </xs:element>
    <xs:element name="street_address">
        <xs:complexType/>
    </xs:element>
    <xs:element name="street_address2">
        <xs:complexType/>
    </xs:element>
    <xs:element name="postal_code">
        <xs:complexType/>
    </xs:element>
    <xs:element name="city">
        <xs:complexType/>
    </xs:element>
    <xs:element name="latitude" type="xs:decimal"/>
    <xs:element name="longitude" type="xs:decimal"/>
    <xs:element name="characteristics">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="characteristic_id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="characteristic_id">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="premiere"/>
                <xs:enumeration value="deutsche-erstauffuehrung"/>
                <xs:enumeration value="deutschsprachige-erstauffuehrung"/>
                <xs:enumeration value="berliner-premiere"/>
                <xs:enumeration value="vorauffuehrung"/>
                <xs:enumeration value="zum-letzten-mal-dieser-spielzeit"/>
                <xs:enumeration value="zum-letzten-mal"/>
                <xs:enumeration value="einfuehrung"/>
                <xs:enumeration value="familienpreise"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="leaders">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="leader"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="leader">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="prefix_id" minOccurs="0"/>
                <xs:element ref="first_name" minOccurs="0"/>
                <xs:element ref="last_name"/>
                <xs:element ref="function_de"/>
                <xs:element ref="function_en"/>
                <xs:element ref="sort_order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="function_de" type="xs:NCName"/>
    <xs:element name="function_en" type="xs:NCName"/>
    <xs:element name="authors">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="author"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="author">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element ref="prefix_id" minOccurs="0"/>
                <xs:element ref="first_name" minOccurs="0"/>
                <xs:element ref="last_name"/>
                <xs:element ref="authorship_type_id"/>
                <xs:element ref="sort_order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="participants">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="participant"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="participant">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="prefix_id" minOccurs="0"/>
                <xs:element ref="first_name" minOccurs="0"/>
                <xs:element ref="last_name"/>
                <xs:element ref="involvement_type_id"/>
                <xs:element ref="role_de" minOccurs="0"/>
                <xs:element ref="role_en" minOccurs="0"/>
                <xs:element ref="instrument_de" minOccurs="0"/>
                <xs:element ref="instrument_en" minOccurs="0"/>
                <xs:element ref="sort_order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="role_de" type="xs:string"/>
    <xs:element name="role_en" type="xs:string"/>
    <xs:element name="instrument_de" type="xs:string"/>
    <xs:element name="instrument_en" type="xs:string"/>
    <xs:element name="videos">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="video"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="video">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="creation_date"/>
                <xs:element ref="modified_date" minOccurs="0"/>
                <xs:element ref="title_de"/>
                <xs:element ref="title_en"/>
                <xs:element ref="embed"/>
                <xs:element ref="sort_order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="live_streams">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="live_stream"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="live_stream">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="creation_date"/>
                <xs:element ref="modified_date" minOccurs="0"/>
                <xs:element ref="title_de"/>
                <xs:element ref="title_en"/>
                <xs:element ref="embed"/>
                <xs:element ref="sort_order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="images">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="image"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="image">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="creation_date"/>
                <xs:element ref="modified_date" minOccurs="0"/>
                <xs:element ref="url"/>
                <xs:element ref="title_de"/>
                <xs:element ref="title_en"/>
                <xs:element ref="description_de" minOccurs="0"/>
                <xs:element ref="description_en" minOccurs="0"/>
                <xs:element ref="author" minOccurs="0"/>
                <xs:element ref="copyright_restrictions"/>
                <xs:element ref="copyright" minOccurs="0"/>
                <xs:element ref="sort_order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="copyright_restrictions">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="general_use"/>
                <xs:enumeration value="protected"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="pdfs">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="pdf"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pdf">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="creation_date"/>
                <xs:element ref="modified_date" minOccurs="0"/>
                <xs:element ref="url"/>
                <xs:element ref="title_de"/>
                <xs:element ref="title_en"/>
                <xs:element ref="description_de" minOccurs="0"/>
                <xs:element ref="description_en" minOccurs="0"/>
                <xs:element ref="author" minOccurs="0"/>
                <xs:element ref="copyright" minOccurs="0"/>
                <xs:element ref="sort_order"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="url" type="xs:anyURI"/>
    <xs:element name="language_and_subtitles_id">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="in-englischer-sprache"/>
                <xs:enumeration value="sprache-kein-problem"/>
                <xs:enumeration value="mit-engl-uebertiteln"/>
                <xs:enumeration value="mit-franzoesischen-uebertiteln"/>
                <xs:enumeration value="andere-sprache"/>
                <xs:enumeration value="simultanubersetzung-englisch-deutsch"/>
                <xs:enumeration value="in-deutscher-sprache"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="sponsors">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="sponsor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sponsor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="creation_date"/>
                <xs:element ref="modified_date" minOccurs="0"/>
                <xs:element ref="website"/>
                <xs:element ref="image_url"/>
                <xs:element ref="title_de"/>
                <xs:element ref="title_en"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="website" type="xs:anyURI"/>
    <xs:element name="image_url" type="xs:anyURI"/>
    <xs:element name="prefix_id">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="mr"/>
                <xs:enumeration value="ms"/>
                <xs:enumeration value="dr"/>
                <xs:enumeration value="prof"/>
                <xs:enumeration value="mr-dr"/>
                <xs:enumeration value="ms-dr"/>
                <xs:enumeration value="mr-prof"/>
                <xs:enumeration value="ms-prof"/>
                <xs:enumeration value="mr-prof-dr"/>
                <xs:enumeration value="ms-prof-dr"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="first_name" type="xs:NCName"/>
    <xs:element name="last_name" type="xs:NCName"/>
    <xs:element name="authorship_type_id">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="komponist"/>
                <xs:enumeration value="autor"/>
                <xs:enumeration value="uebersetzer"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="involvement_type_id">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="ausstatter"/>
                <xs:enumeration value="buhnenbildner"/>
                <xs:enumeration value="chor"/>
                <xs:enumeration value="choreografie"/>
                <xs:enumeration value="dirigent"/>
                <xs:enumeration value="diskussionsteilnehmer"/>
                <xs:enumeration value="dramaturgie"/>
                <xs:enumeration value="einrichtung"/>
                <xs:enumeration value="einstudierung"/>
                <xs:enumeration value="ensemble"/>
                <xs:enumeration value="inspizient"/>
                <xs:enumeration value="kostume"/>
                <xs:enumeration value="kuenstler"/>
                <xs:enumeration value="kunstlerische-leitung"/>
                <xs:enumeration value="licht"/>
                <xs:enumeration value="moderator"/>
                <xs:enumeration value="musik"/>
                <xs:enumeration value="orchester"/>
                <xs:enumeration value="performer"/>
                <xs:enumeration value="produktionsleitung"/>
                <xs:enumeration value="pyrothechnik"/>
                <xs:enumeration value="referent"/>
                <xs:enumeration value="regie"/>
                <xs:enumeration value="regieassistenz"/>
                <xs:enumeration value="requisite"/>
                <xs:enumeration value="rezitation"/>
                <xs:enumeration value="saenger"/>
                <xs:enumeration value="schauspieler"/>
                <xs:enumeration value="solist"/>
                <xs:enumeration value="souffleur-souffleuse"/>
                <xs:enumeration value="statisterie"/>
                <xs:enumeration value="taenzer"/>
                <xs:enumeration value="text"/>
                <xs:enumeration value="video"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="embed">
        <xs:complexType/>
    </xs:element>
    <xs:element name="sort_order" type="xs:integer"/>
    <xs:element name="copyright" type="xs:string"/>
</xs:schema>
