production_import_specs/example.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="response">
      <element name="meta">
        <element name="next">
          <data type="anyURI"/>
        </element>
        <element name="previous">
          <data type="anyURI"/>
        </element>
        <element name="total_count">
          <data type="integer"/>
        </element>
        <element name="items_per_page">
          <data type="integer"/>
        </element>
      </element>
      <element name="productions">
        <oneOrMore>
          <element name="production">
            <ref name="id"/>
            <ref name="creation_date"/>
            <ref name="modified_date"/>
            <element name="status">
              <data type="NCName"/>
            </element>
            <element name="prefix_de">
              <empty/>
            </element>
            <element name="prefix_en">
              <empty/>
            </element>
            <ref name="title_de"/>
            <ref name="title_en"/>
            <element name="subtitle_de">
              <empty/>
            </element>
            <element name="subtitle_en">
              <empty/>
            </element>
            <element name="original_de">
              <empty/>
            </element>
            <element name="original_en">
              <empty/>
            </element>
            <element name="website_de">
              <data type="anyURI"/>
            </element>
            <element name="website_en">
              <data type="anyURI"/>
            </element>
            <ref name="description_de"/>
            <ref name="description_en"/>
            <ref name="teaser_de"/>
            <ref name="teaser_en"/>
            <ref name="work_info_de"/>
            <ref name="work_info_en"/>
            <ref name="contents_de"/>
            <ref name="contents_en"/>
            <ref name="press_text_de"/>
            <ref name="press_text_en"/>
            <ref name="credits_de"/>
            <ref name="credits_en"/>
            <ref name="concert_program_de"/>
            <ref name="concert_program_en"/>
            <ref name="supporting_program_de"/>
            <ref name="supporting_program_en"/>
            <ref name="remarks_de"/>
            <ref name="remarks_en"/>
            <ref name="duration_text_de"/>
            <ref name="duration_text_en"/>
            <ref name="subtitles_text_de"/>
            <ref name="subtitles_text_en"/>
            <ref name="age_text_de"/>
            <ref name="age_text_en"/>
            <element name="ensembles">
              <empty/>
            </element>
            <ref name="organizers"/>
            <element name="in_cooperation_with">
              <empty/>
            </element>
            <ref name="free_entrance"/>
            <ref name="price_from"/>
            <ref name="price_till"/>
            <ref name="tickets_website"/>
            <ref name="price_information_de"/>
            <ref name="price_information_en"/>
            <element name="age_from">
              <empty/>
            </element>
            <element name="age_till">
              <empty/>
            </element>
            <element name="edu_offer_website">
              <empty/>
            </element>
            <element name="in_program_of">
              <oneOrMore>
                <ref name="location_id"/>
              </oneOrMore>
            </element>
            <ref name="play_locations"/>
            <ref name="play_stages"/>
            <ref name="location_title"/>
            <ref name="street_address"/>
            <ref name="street_address2"/>
            <ref name="postal_code"/>
            <ref name="city"/>
            <ref name="latitude"/>
            <ref name="longitude"/>
            <element name="categories">
              <oneOrMore>
                <element name="category_id">
                  <data type="integer"/>
                </element>
              </oneOrMore>
            </element>
            <ref name="characteristics"/>
            <ref name="leaders"/>
            <ref name="authors"/>
            <ref name="participants"/>
            <ref name="videos"/>
            <ref name="live_streams"/>
            <ref name="images"/>
            <ref name="pdfs"/>
            <element name="social_media">
              <oneOrMore>
                <element name="social_media_channel">
                  <element name="channel_type">
                    <data type="NCName"/>
                  </element>
                  <ref name="url"/>
                </element>
              </oneOrMore>
            </element>
            <ref name="language_and_subtitles_id"/>
            <ref name="sponsors"/>
            <element name="events">
              <oneOrMore>
                <element name="event">
                  <ref name="id"/>
                  <ref name="creation_date"/>
                  <ref name="modified_date"/>
                  <element name="start_date">
                    <data type="NMTOKEN"/>
                  </element>
                  <element name="end_date">
                    <data type="NMTOKEN"/>
                  </element>
                  <element name="start_time">
                    <data type="NMTOKEN"/>
                  </element>
                  <element name="end_time">
                    <data type="NMTOKEN"/>
                  </element>
                  <element name="duration">
                    <data type="NMTOKEN"/>
                  </element>
                  <element name="pauses">
                    <data type="integer"/>
                  </element>
                  <ref name="play_locations"/>
                  <ref name="play_stages"/>
                  <ref name="location_title"/>
                  <ref name="street_address"/>
                  <ref name="street_address2"/>
                  <ref name="postal_code"/>
                  <ref name="city"/>
                  <ref name="latitude"/>
                  <ref name="longitude"/>
                  <ref name="organizers"/>
                  <ref name="description_de"/>
                  <ref name="description_en"/>
                  <ref name="teaser_de"/>
                  <ref name="teaser_en"/>
                  <ref name="work_info_de"/>
                  <ref name="work_info_en"/>
                  <ref name="contents_de"/>
                  <ref name="contents_en"/>
                  <ref name="press_text_de"/>
                  <ref name="press_text_en"/>
                  <ref name="credits_de"/>
                  <ref name="credits_en"/>
                  <ref name="concert_program_de"/>
                  <ref name="concert_program_en"/>
                  <ref name="supporting_program_de"/>
                  <ref name="supporting_program_en"/>
                  <ref name="remarks_de"/>
                  <ref name="remarks_en"/>
                  <ref name="duration_text_de"/>
                  <ref name="duration_text_en"/>
                  <ref name="subtitles_text_de"/>
                  <ref name="subtitles_text_en"/>
                  <ref name="age_text_de"/>
                  <ref name="age_text_en"/>
                  <ref name="free_entrance"/>
                  <ref name="price_from"/>
                  <ref name="price_till"/>
                  <ref name="tickets_website"/>
                  <ref name="price_information_de"/>
                  <ref name="price_information_en"/>
                  <element name="event_status">
                    <data type="NCName"/>
                  </element>
                  <element name="ticket_status">
                    <text/>
                  </element>
                  <ref name="characteristics"/>
                  <ref name="leaders"/>
                  <ref name="authors"/>
                  <ref name="participants"/>
                  <ref name="videos"/>
                  <ref name="live_streams"/>
                  <ref name="images"/>
                  <ref name="pdfs"/>
                  <ref name="language_and_subtitles_id"/>
                  <ref name="sponsors"/>
                </element>
              </oneOrMore>
            </element>
          </element>
        </oneOrMore>
      </element>
    </element>
  </start>
  <define name="id">
    <element name="id">
      <data type="integer"/>
    </element>
  </define>
  <define name="creation_date">
    <element name="creation_date">
      <data type="NMTOKEN"/>
    </element>
  </define>
  <define name="modified_date">
    <element name="modified_date">
      <data type="NMTOKEN"/>
    </element>
  </define>
  <define name="title_de">
    <element name="title_de">
      <text/>
    </element>
  </define>
  <define name="title_en">
    <element name="title_en">
      <text/>
    </element>
  </define>
  <define name="description_de">
    <element name="description_de">
      <empty/>
    </element>
  </define>
  <define name="description_en">
    <element name="description_en">
      <empty/>
    </element>
  </define>
  <define name="teaser_de">
    <element name="teaser_de">
      <empty/>
    </element>
  </define>
  <define name="teaser_en">
    <element name="teaser_en">
      <empty/>
    </element>
  </define>
  <define name="work_info_de">
    <element name="work_info_de">
      <empty/>
    </element>
  </define>
  <define name="work_info_en">
    <element name="work_info_en">
      <empty/>
    </element>
  </define>
  <define name="contents_de">
    <element name="contents_de">
      <empty/>
    </element>
  </define>
  <define name="contents_en">
    <element name="contents_en">
      <empty/>
    </element>
  </define>
  <define name="press_text_de">
    <element name="press_text_de">
      <empty/>
    </element>
  </define>
  <define name="press_text_en">
    <element name="press_text_en">
      <empty/>
    </element>
  </define>
  <define name="credits_de">
    <element name="credits_de">
      <empty/>
    </element>
  </define>
  <define name="credits_en">
    <element name="credits_en">
      <empty/>
    </element>
  </define>
  <define name="concert_program_de">
    <element name="concert_program_de">
      <empty/>
    </element>
  </define>
  <define name="concert_program_en">
    <element name="concert_program_en">
      <empty/>
    </element>
  </define>
  <define name="supporting_program_de">
    <element name="supporting_program_de">
      <empty/>
    </element>
  </define>
  <define name="supporting_program_en">
    <element name="supporting_program_en">
      <empty/>
    </element>
  </define>
  <define name="remarks_de">
    <element name="remarks_de">
      <empty/>
    </element>
  </define>
  <define name="remarks_en">
    <element name="remarks_en">
      <empty/>
    </element>
  </define>
  <define name="duration_text_de">
    <element name="duration_text_de">
      <empty/>
    </element>
  </define>
  <define name="duration_text_en">
    <element name="duration_text_en">
      <empty/>
    </element>
  </define>
  <define name="subtitles_text_de">
    <element name="subtitles_text_de">
      <empty/>
    </element>
  </define>
  <define name="subtitles_text_en">
    <element name="subtitles_text_en">
      <empty/>
    </element>
  </define>
  <define name="age_text_de">
    <element name="age_text_de">
      <empty/>
    </element>
  </define>
  <define name="age_text_en">
    <element name="age_text_en">
      <empty/>
    </element>
  </define>
  <define name="organizers">
    <element name="organizers">
      <empty/>
    </element>
  </define>
  <define name="free_entrance">
    <element name="free_entrance">
      <data type="NCName"/>
    </element>
  </define>
  <define name="price_from">
    <element name="price_from">
      <data type="decimal"/>
    </element>
  </define>
  <define name="price_till">
    <element name="price_till">
      <data type="decimal"/>
    </element>
  </define>
  <define name="tickets_website">
    <element name="tickets_website">
      <empty/>
    </element>
  </define>
  <define name="price_information_de">
    <element name="price_information_de">
      <empty/>
    </element>
  </define>
  <define name="price_information_en">
    <element name="price_information_en">
      <empty/>
    </element>
  </define>
  <define name="location_id">
    <element name="location_id">
      <data type="integer"/>
    </element>
  </define>
  <define name="play_locations">
    <element name="play_locations">
      <oneOrMore>
        <ref name="location_id"/>
      </oneOrMore>
    </element>
  </define>
  <define name="play_stages">
    <element name="play_stages">
      <oneOrMore>
        <element name="stage_id">
          <data type="integer"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="location_title">
    <element name="location_title">
      <empty/>
    </element>
  </define>
  <define name="street_address">
    <element name="street_address">
      <empty/>
    </element>
  </define>
  <define name="street_address2">
    <element name="street_address2">
      <empty/>
    </element>
  </define>
  <define name="postal_code">
    <element name="postal_code">
      <empty/>
    </element>
  </define>
  <define name="city">
    <element name="city">
      <empty/>
    </element>
  </define>
  <define name="latitude">
    <element name="latitude">
      <data type="decimal"/>
    </element>
  </define>
  <define name="longitude">
    <element name="longitude">
      <data type="decimal"/>
    </element>
  </define>
  <define name="characteristics">
    <element name="characteristics">
      <oneOrMore>
        <element name="characteristic_id">
          <data type="integer"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="leaders">
    <element name="leaders">
      <oneOrMore>
        <element name="leader">
          <ref name="prefix_id"/>
          <ref name="first_name"/>
          <ref name="last_name"/>
          <element name="function_de">
            <data type="NCName"/>
          </element>
          <element name="function_en">
            <data type="NCName"/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="authors">
    <element name="authors">
      <oneOrMore>
        <ref name="author"/>
      </oneOrMore>
    </element>
  </define>
  <define name="participants">
    <element name="participants">
      <oneOrMore>
        <element name="participant">
          <ref name="prefix_id"/>
          <ref name="first_name"/>
          <ref name="last_name"/>
          <ref name="type_id"/>
          <element name="role_de">
            <text/>
          </element>
          <element name="role_en">
            <text/>
          </element>
          <element name="instrument_de">
            <text/>
          </element>
          <element name="instrument_en">
            <text/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="videos">
    <element name="videos">
      <oneOrMore>
        <element name="video">
          <ref name="creation_date"/>
          <ref name="modified_date"/>
          <ref name="title_de"/>
          <ref name="title_en"/>
          <ref name="embed"/>
          <ref name="sort_order"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="live_streams">
    <element name="live_streams">
      <oneOrMore>
        <element name="live_stream">
          <ref name="creation_date"/>
          <ref name="modified_date"/>
          <ref name="title_de"/>
          <ref name="title_en"/>
          <ref name="embed"/>
          <ref name="sort_order"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="images">
    <element name="images">
      <oneOrMore>
        <element name="image">
          <ref name="creation_date"/>
          <ref name="modified_date"/>
          <ref name="url"/>
          <ref name="title_de"/>
          <ref name="title_en"/>
          <ref name="description_de"/>
          <ref name="description_en"/>
          <ref name="author"/>
          <element name="copyright_restrictions">
            <data type="NCName"/>
          </element>
          <ref name="copyright"/>
          <ref name="sort_order"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="pdfs">
    <element name="pdfs">
      <oneOrMore>
        <element name="pdf">
          <ref name="creation_date"/>
          <ref name="modified_date"/>
          <ref name="url"/>
          <ref name="title_de"/>
          <ref name="title_en"/>
          <ref name="description_de"/>
          <ref name="description_en"/>
          <ref name="author"/>
          <ref name="copyright"/>
          <ref name="sort_order"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="url">
    <element name="url">
      <data type="anyURI"/>
    </element>
  </define>
  <define name="language_and_subtitles_id">
    <element name="language_and_subtitles_id">
      <data type="NCName"/>
    </element>
  </define>
  <define name="sponsors">
    <element name="sponsors">
      <oneOrMore>
        <element name="sponsor">
          <ref name="creation_date"/>
          <ref name="modified_date"/>
          <element name="website">
            <data type="anyURI"/>
          </element>
          <element name="image_url">
            <data type="anyURI"/>
          </element>
          <ref name="title_de"/>
          <ref name="title_en"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="prefix_id">
    <element name="prefix_id">
      <data type="NCName"/>
    </element>
  </define>
  <define name="first_name">
    <element name="first_name">
      <data type="NCName"/>
    </element>
  </define>
  <define name="last_name">
    <element name="last_name">
      <data type="NCName"/>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <optional>
        <ref name="prefix_id"/>
        <ref name="first_name"/>
        <ref name="last_name"/>
        <ref name="type_id"/>
      </optional>
    </element>
  </define>
  <define name="type_id">
    <element name="type_id">
      <data type="NCName"/>
    </element>
  </define>
  <define name="embed">
    <element name="embed">
      <empty/>
    </element>
  </define>
  <define name="sort_order">
    <element name="sort_order">
      <data type="integer"/>
    </element>
  </define>
  <define name="copyright">
    <element name="copyright">
      <text/>
    </element>
  </define>
</grammar>
