docs/import/bb_import_specs/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="meta"/>
                <xs:element ref="productions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="meta">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded"><!-- The order of elements doesn't matter -->
                    <xs:element name="next" type="xs:anyURI"/>
                    <xs:element name="previous" type="xs:anyURI"/>
                    <xs:element name="total_count" type="xs:integer"/>
                    <xs:element name="items_per_page" type="xs:integer"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="productions">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="production" type="production"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="production">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded"><!-- The order of elements doesn't matter -->
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="creation_date" type="xs:dateTime"/>
                <xs:element name="modified_date" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="status" type="status"/>
                <xs:element name="prefix_de" type="xs:string" minOccurs="0"/>
                <xs:element name="prefix_en" type="xs:string" minOccurs="0"/>
                <xs:element name="title_de" type="xs:string"/>
                <xs:element name="title_en" type="xs:string"/>
                <xs:element name="subtitle_de" type="xs:string" minOccurs="0"/>
                <xs:element name="subtitle_en" type="xs:string" minOccurs="0"/>
                <xs:element name="original_de" type="xs:string" minOccurs="0"/>
                <xs:element name="original_en" type="xs:string" minOccurs="0"/>
                <xs:element name="website_de" type="xs:anyURI" minOccurs="0"/>
                <xs:element name="website_en" type="xs:anyURI" minOccurs="0"/>
                <xs:element name="description_de" type="xs:string" minOccurs="0"/>
                <xs:element name="description_en" type="xs:string" minOccurs="0"/>
                <xs:element name="teaser_de" type="xs:string" minOccurs="0"/>
                <xs:element name="teaser_en" type="xs:string" minOccurs="0"/>
                <xs:element name="work_info_de" type="xs:string" minOccurs="0"/>
                <xs:element name="work_info_en" type="xs:string" minOccurs="0"/>
                <xs:element name="contents_de" type="xs:string" minOccurs="0"/>
                <xs:element name="contents_en" type="xs:string" minOccurs="0"/>
                <xs:element name="press_text_de" type="xs:string" minOccurs="0"/>
                <xs:element name="press_text_en" type="xs:string" minOccurs="0"/>
                <xs:element name="credits_de" type="xs:string" minOccurs="0"/>
                <xs:element name="credits_en" type="xs:string" minOccurs="0"/>
                <xs:element name="concert_program_de" type="xs:string" minOccurs="0"/>
                <xs:element name="concert_program_en" type="xs:string" minOccurs="0"/>
                <xs:element name="supporting_program_de" type="xs:string" minOccurs="0"/>
                <xs:element name="supporting_program_en" type="xs:string" minOccurs="0"/>
                <xs:element name="remarks_de" type="xs:string" minOccurs="0"/>
                <xs:element name="remarks_en" type="xs:string" minOccurs="0"/>
                <xs:element name="duration_text_de" type="xs:string" minOccurs="0"/>
                <xs:element name="duration_text_en" type="xs:string" minOccurs="0"/>
                <xs:element name="subtitles_text_de" type="xs:string" minOccurs="0"/>
                <xs:element name="subtitles_text_en" type="xs:string" minOccurs="0"/>
                <xs:element name="age_text_de" type="xs:string" minOccurs="0"/>
                <xs:element name="age_text_en" type="xs:string" minOccurs="0"/>
                <xs:element name="ensembles" type="xs:string" minOccurs="0"/>
                <xs:element name="organizers" type="xs:string" minOccurs="0"/>
                <xs:element name="in_cooperation_with" type="xs:string" minOccurs="0"/>
                <xs:element name="free_entrance" type="xs:boolean" minOccurs="0"/>
                <xs:element name="price_from" type="xs:decimal" minOccurs="0"/>
                <xs:element name="price_till" type="xs:decimal" minOccurs="0"/>
                <xs:element name="tickets_website" type="xs:anyURI" minOccurs="0"/>
                <xs:element name="price_information_de" type="xs:string" minOccurs="0"/>
                <xs:element name="price_information_en" type="xs:string" minOccurs="0"/>
                <xs:element name="age_from" type="age_from" minOccurs="0"/>
                <xs:element name="age_till" type="age_till" minOccurs="0"/>
                <xs:element name="edu_offer_website" type="xs:anyURI" minOccurs="0"/>
                <xs:element name="in_program_of" type="in_program_of" minOccurs="0"/>
                <xs:element name="play_locations" type="play_locations" minOccurs="0"/>
                <xs:element name="play_stages" type="play_stages" minOccurs="0"/>
                <xs:element name="location_title" type="xs:string" minOccurs="0"/>
                <xs:element name="street_address" type="xs:string" minOccurs="0"/>
                <xs:element name="street_address2" type="xs:string" minOccurs="0"/>
                <xs:element name="postal_code" type="xs:string" minOccurs="0"/>
                <xs:element name="city" type="xs:string" minOccurs="0"/>
                <xs:element name="latitude" type="xs:decimal" minOccurs="0"/>
                <xs:element name="longitude" type="xs:decimal" minOccurs="0"/>
                <xs:element name="categories" type="categories" minOccurs="0"/>
                <xs:element name="characteristics" type="characteristics" minOccurs="0"/>
                <xs:element name="leaders" type="leaders" minOccurs="0"/>
                <xs:element name="authors" type="authors" minOccurs="0"/>
                <xs:element name="participants" type="participants" minOccurs="0"/>
                <xs:element name="videos" type="videos" minOccurs="0"/>
                <xs:element name="live_streams" type="live_streams" minOccurs="0"/>
                <xs:element name="images" type="images" minOccurs="0"/>
                <xs:element name="pdfs" type="pdfs" minOccurs="0"/>
                <xs:element name="social_media" type="social_media" minOccurs="0"/>
                <xs:element name="language_and_subtitles_id" type="language_and_subtitles_id" minOccurs="0"/>
                <xs:element name="sponsors" type="sponsors" minOccurs="0"/>
                <xs:element name="events" type="events" minOccurs="0"/>
                <xs:element name="classiccard" type="xs:boolean" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="status">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="draft"/>
            <xs:enumeration value="published"/>
            <xs:enumeration value="not_listed"/>
            <xs:enumeration value="expired"/>
            <xs:enumeration value="trashed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="age_from">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base='xs:string'>
                    <xs:length value='0'/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base='xs:integer'>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="age_till">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base='xs:string'>
                    <xs:length value='0'/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base='xs:integer'>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:complexType name="in_program_of">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="location_id" type="location_id"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="categories">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="category_id" type="category_id"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="category_id">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="31"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="34"/>
            <xs:enumeration value="35"/>
            <xs:enumeration value="36"/>
            <xs:enumeration value="37"/>
            <xs:enumeration value="38"/>
            <xs:enumeration value="39"/>
            <xs:enumeration value="40"/>
            <xs:enumeration value="41"/>
            <xs:enumeration value="42"/>
            <xs:enumeration value="43"/>
            <xs:enumeration value="44"/>
            <xs:enumeration value="45"/>
            <xs:enumeration value="46"/>
            <xs:enumeration value="47"/>
            <xs:enumeration value="48"/>
            <xs:enumeration value="49"/>
            <xs:enumeration value="50"/>
            <xs:enumeration value="51"/>
            <xs:enumeration value="52"/>
            <xs:enumeration value="53"/>
            <xs:enumeration value="54"/>
            <xs:enumeration value="55"/>
            <xs:enumeration value="56"/>
            <xs:enumeration value="57"/>
            <xs:enumeration value="62"/>
            <xs:enumeration value="63"/>
            <xs:enumeration value="64"/>
            <xs:enumeration value="65"/>
            <xs:enumeration value="66"/>
            <xs:enumeration value="68"/>
            <xs:enumeration value="69"/>
            <xs:enumeration value="70"/>
            <xs:enumeration value="71"/>
            <xs:enumeration value="72"/>
            <xs:enumeration value="73"/>
            <xs:enumeration value="74"/>
            <xs:enumeration value="75"/>
            <xs:enumeration value="76"/>
            <xs:enumeration value="77"/>
            <xs:enumeration value="78"/>
            <xs:enumeration value="79"/>
            <xs:enumeration value="80"/>
            <xs:enumeration value="81"/>
            <xs:enumeration value="82"/>
            <xs:enumeration value="83"/>
            <xs:enumeration value="84"/>
            <xs:enumeration value="85"/>
            <xs:enumeration value="86"/>
            <xs:enumeration value="87"/>
            <xs:enumeration value="88"/>
            <xs:enumeration value="89"/>
            <xs:enumeration value="90"/>
            <xs:enumeration value="91"/>
            <xs:enumeration value="92"/>
            <xs:enumeration value="93"/>
            <xs:enumeration value="94"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="social_media">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="social_media_channel" type="social_media_channel"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="social_media_channel">
        <xs:sequence>
            <xs:element name="channel_type" type="xs:NCName"/>
            <xs:element name="url" type="xs:anyURI"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="events">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="event" type="event"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="event">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded"><!-- The order of elements doesn't matter -->
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="creation_date" type="xs:dateTime"/>
                <xs:element name="modified_date" type="xs:dateTime" minOccurs="0"/>
                <xs:element name="start_date" type="xs:date"/>
                <xs:element name="end_date" type="xs:date" minOccurs="0"/>
                <xs:element name="start_time" type="time_hh_mm"/>
                <xs:element name="end_time" type="time_hh_mm" minOccurs="0"/>
                <xs:element name="duration" type="duration_hh_mm" minOccurs="0"/>
                <xs:element name="pauses" type="xs:integer" minOccurs="0"/>
                <xs:element name="play_locations" type="play_locations" minOccurs="0"/>
                <xs:element name="play_stages" type="play_stages" minOccurs="0"/>
                <xs:element name="location_title" type="xs:string" minOccurs="0"/>
                <xs:element name="street_address" type="xs:string" minOccurs="0"/>
                <xs:element name="street_address2" type="xs:string" minOccurs="0"/>
                <xs:element name="postal_code" type="xs:string" minOccurs="0"/>
                <xs:element name="city" type="xs:string" minOccurs="0"/>
                <xs:element name="latitude" type="xs:decimal" minOccurs="0"/>
                <xs:element name="longitude" type="xs:decimal" minOccurs="0"/>
                <xs:element name="organizers" type="xs:string" minOccurs="0"/>
                <xs:element name="description_de" type="xs:string" minOccurs="0"/>
                <xs:element name="description_en" type="xs:string" minOccurs="0"/>
                <xs:element name="teaser_de" type="xs:string" minOccurs="0"/>
                <xs:element name="teaser_en" type="xs:string" minOccurs="0"/>
                <xs:element name="work_info_de" type="xs:string" minOccurs="0"/>
                <xs:element name="work_info_en" type="xs:string" minOccurs="0"/>
                <xs:element name="contents_de" type="xs:string" minOccurs="0"/>
                <xs:element name="contents_en" type="xs:string" minOccurs="0"/>
                <xs:element name="press_text_de" type="xs:string" minOccurs="0"/>
                <xs:element name="press_text_en" type="xs:string" minOccurs="0"/>
                <xs:element name="credits_de" type="xs:string" minOccurs="0"/>
                <xs:element name="credits_en" type="xs:string" minOccurs="0"/>
                <xs:element name="concert_program_de" type="xs:string" minOccurs="0"/>
                <xs:element name="concert_program_en" type="xs:string" minOccurs="0"/>
                <xs:element name="supporting_program_de" type="xs:string" minOccurs="0"/>
                <xs:element name="supporting_program_en" type="xs:string" minOccurs="0"/>
                <xs:element name="remarks_de" type="xs:string" minOccurs="0"/>
                <xs:element name="remarks_en" type="xs:string" minOccurs="0"/>
                <xs:element name="duration_text_de" type="xs:string" minOccurs="0"/>
                <xs:element name="duration_text_en" type="xs:string" minOccurs="0"/>
                <xs:element name="subtitles_text_de" type="xs:string" minOccurs="0"/>
                <xs:element name="subtitles_text_en" type="xs:string" minOccurs="0"/>
                <xs:element name="age_text_de" type="xs:string" minOccurs="0"/>
                <xs:element name="age_text_en" type="xs:string" minOccurs="0"/>
                <xs:element name="free_entrance" type="xs:boolean" minOccurs="0"/>
                <xs:element name="price_from" type="xs:decimal" minOccurs="0"/>
                <xs:element name="price_till" type="xs:decimal" minOccurs="0"/>
                <xs:element name="tickets_website" type="xs:anyURI" minOccurs="0"/>
                <xs:element name="price_information_de" type="xs:string" minOccurs="0"/>
                <xs:element name="price_information_en" type="xs:string" minOccurs="0"/>
                <xs:element name="event_status" type="event_status"/>
                <xs:element name="ticket_status" type="ticket_status" minOccurs="0"/>
                <xs:element name="characteristics" type="characteristics" minOccurs="0"/>
                <xs:element name="leaders" type="leaders" minOccurs="0"/>
                <xs:element name="authors" type="authors" minOccurs="0"/>
                <xs:element name="participants" type="participants" minOccurs="0"/>
                <xs:element name="videos" type="videos" minOccurs="0"/>
                <xs:element name="live_streams" type="live_streams" minOccurs="0"/>
                <xs:element name="images" type="images" minOccurs="0"/>
                <xs:element name="pdfs" type="pdfs" minOccurs="0"/>
                <xs:element name="language_and_subtitles_id" type="language_and_subtitles_id" minOccurs="0"/>
                <xs:element name="sponsors" type="sponsors" minOccurs="0"/>
                <xs:element name="classiccard" type="xs:boolean" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="time_hh_mm">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-1][0-9]:[0-5][0-9]"/>
            <xs:pattern value="[0-1][0-9]:[0-5][0-9]:[0-5][0-9]"/>
            <xs:pattern value="2[0-3]:[0-5][0-9]"/>
            <xs:pattern value="2[0-3]:[0-5][0-9]:[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="duration_hh_mm">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]:[0-5][0-9]"/>
            <xs:pattern value="[0-9]:[0-5][0-9]:[0-5][0-9]"/>
            <xs:pattern value="[0-1][0-9]:[0-5][0-9]"/>
            <xs:pattern value="[0-1][0-9]:[0-5][0-9]:[0-5][0-9]"/>
            <xs:pattern value="2[0-3]:[0-5][0-9]"/>
            <xs:pattern value="2[0-3]:[0-5][0-9]:[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="event_status">
        <xs:restriction base="xs:NCName">
            <xs:enumeration value="takes_place"/>
            <xs:enumeration value="canceled"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ticket_status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tickets_@_box_office"/>
            <xs:enumeration value="sold_out"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="location_id">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="31"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="33"/>
            <xs:enumeration value="34"/>
            <xs:enumeration value="38"/>
            <xs:enumeration value="39"/>
            <xs:enumeration value="40"/>
            <xs:enumeration value="42"/>
            <xs:enumeration value="43"/>
            <xs:enumeration value="45"/>
            <xs:enumeration value="48"/>
            <xs:enumeration value="49"/>
            <xs:enumeration value="51"/>
            <xs:enumeration value="53"/>
            <xs:enumeration value="54"/>
            <xs:enumeration value="55"/>
            <xs:enumeration value="56"/>
            <xs:enumeration value="57"/>
            <xs:enumeration value="58"/>
            <xs:enumeration value="59"/>
            <xs:enumeration value="60"/>
            <xs:enumeration value="61"/>
            <xs:enumeration value="63"/>
            <xs:enumeration value="65"/>
            <xs:enumeration value="66"/>
            <xs:enumeration value="67"/>
            <xs:enumeration value="68"/>
            <xs:enumeration value="69"/>
            <xs:enumeration value="70"/>
            <xs:enumeration value="71"/>
            <xs:enumeration value="72"/>
            <xs:enumeration value="73"/>
            <xs:enumeration value="74"/>
            <xs:enumeration value="75"/>
            <xs:enumeration value="76"/>
            <xs:enumeration value="77"/>
            <xs:enumeration value="78"/>
            <xs:enumeration value="79"/>
            <xs:enumeration value="80"/>
            <xs:enumeration value="129"/>
            <xs:enumeration value="130"/>
            <xs:enumeration value="132"/>
            <xs:enumeration value="133"/>
            <xs:enumeration value="134"/>
            <xs:enumeration value="135"/>
            <xs:enumeration value="140"/>
            <xs:enumeration value="141"/>
            <xs:enumeration value="142"/>
            <xs:enumeration value="143"/>
            <xs:enumeration value="144"/>
            <xs:enumeration value="145"/>
            <xs:enumeration value="146"/>
            <xs:enumeration value="147"/>
            <xs:enumeration value="148"/>
            <xs:enumeration value="149"/>
            <xs:enumeration value="150"/>
            <xs:enumeration value="152"/>
            <xs:enumeration value="154"/>
            <xs:enumeration value="156"/>
            <xs:enumeration value="157"/>
            <xs:enumeration value="158"/>
            <xs:enumeration value="159"/>
            <xs:enumeration value="160"/>
            <xs:enumeration value="161"/>
            <xs:enumeration value="162"/>
            <xs:enumeration value="163"/>
            <xs:enumeration value="164"/>
            <xs:enumeration value="165"/>
            <xs:enumeration value="166"/>
            <xs:enumeration value="167"/>
            <xs:enumeration value="168"/>
            <xs:enumeration value="169"/>
            <xs:enumeration value="171"/>
            <xs:enumeration value="172"/>
            <xs:enumeration value="173"/>
            <xs:enumeration value="174"/>
            <xs:enumeration value="176"/>
            <xs:enumeration value="178"/>
            <xs:enumeration value="179"/>
            <xs:enumeration value="180"/>
            <xs:enumeration value="181"/>
            <xs:enumeration value="182"/>
            <xs:enumeration value="184"/>
            <xs:enumeration value="185"/>
            <xs:enumeration value="186"/>
            <xs:enumeration value="187"/>
            <xs:enumeration value="188"/>
            <xs:enumeration value="189"/>
            <xs:enumeration value="190"/>
            <xs:enumeration value="192"/>
            <xs:enumeration value="193"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="play_locations">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="location_id" type="location_id"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="play_stages">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="stage_id" type="stage_id"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="stage_id">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="31"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="33"/>
            <xs:enumeration value="34"/>
            <xs:enumeration value="35"/>
            <xs:enumeration value="37"/>
            <xs:enumeration value="38"/>
            <xs:enumeration value="39"/>
            <xs:enumeration value="40"/>
            <xs:enumeration value="41"/>
            <xs:enumeration value="42"/>
            <xs:enumeration value="44"/>
            <xs:enumeration value="45"/>
            <xs:enumeration value="46"/>
            <xs:enumeration value="47"/>
            <xs:enumeration value="48"/>
            <xs:enumeration value="49"/>
            <xs:enumeration value="53"/>
            <xs:enumeration value="56"/>
            <xs:enumeration value="57"/>
            <xs:enumeration value="58"/>
            <xs:enumeration value="59"/>
            <xs:enumeration value="60"/>
            <xs:enumeration value="61"/>
            <xs:enumeration value="62"/>
            <xs:enumeration value="69"/>
            <xs:enumeration value="70"/>
            <xs:enumeration value="71"/>
            <xs:enumeration value="75"/>
            <xs:enumeration value="76"/>
            <xs:enumeration value="77"/>
            <xs:enumeration value="79"/>
            <xs:enumeration value="81"/>
            <xs:enumeration value="82"/>
            <xs:enumeration value="83"/>
            <xs:enumeration value="84"/>
            <xs:enumeration value="85"/>
            <xs:enumeration value="86"/>
            <xs:enumeration value="87"/>
            <xs:enumeration value="88"/>
            <xs:enumeration value="89"/>
            <xs:enumeration value="90"/>
            <xs:enumeration value="94"/>
            <xs:enumeration value="95"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="101"/>
            <xs:enumeration value="102"/>
            <xs:enumeration value="103"/>
            <xs:enumeration value="104"/>
            <xs:enumeration value="105"/>
            <xs:enumeration value="106"/>
            <xs:enumeration value="107"/>
            <xs:enumeration value="108"/>
            <xs:enumeration value="109"/>
            <xs:enumeration value="110"/>
            <xs:enumeration value="111"/>
            <xs:enumeration value="112"/>
            <xs:enumeration value="113"/>
            <xs:enumeration value="114"/>
            <xs:enumeration value="115"/>
            <xs:enumeration value="116"/>
            <xs:enumeration value="117"/>
            <xs:enumeration value="118"/>
            <xs:enumeration value="119"/>
            <xs:enumeration value="120"/>
            <xs:enumeration value="121"/>
            <xs:enumeration value="122"/>
            <xs:enumeration value="123"/>
            <xs:enumeration value="124"/>
            <xs:enumeration value="125"/>
            <xs:enumeration value="126"/>
            <xs:enumeration value="127"/>
            <xs:enumeration value="128"/>
            <xs:enumeration value="129"/>
            <xs:enumeration value="130"/>
            <xs:enumeration value="131"/>
            <xs:enumeration value="132"/>
            <xs:enumeration value="133"/>
            <xs:enumeration value="138"/>
            <xs:enumeration value="139"/>
            <xs:enumeration value="140"/>
            <xs:enumeration value="141"/>
            <xs:enumeration value="142"/>
            <xs:enumeration value="143"/>
            <xs:enumeration value="144"/>
            <xs:enumeration value="145"/>
            <xs:enumeration value="146"/>
            <xs:enumeration value="147"/>
            <xs:enumeration value="148"/>
            <xs:enumeration value="149"/>
            <xs:enumeration value="150"/>
            <xs:enumeration value="151"/>
            <xs:enumeration value="156"/>
            <xs:enumeration value="157"/>
            <xs:enumeration value="159"/>
            <xs:enumeration value="160"/>
            <xs:enumeration value="161"/>
            <xs:enumeration value="162"/>
            <xs:enumeration value="164"/>
            <xs:enumeration value="165"/>
            <xs:enumeration value="166"/>
            <xs:enumeration value="167"/>
            <xs:enumeration value="168"/>
            <xs:enumeration value="169"/>
            <xs:enumeration value="170"/>
            <xs:enumeration value="171"/>
            <xs:enumeration value="172"/>
            <xs:enumeration value="173"/>
            <xs:enumeration value="174"/>
            <xs:enumeration value="179"/>
            <xs:enumeration value="180"/>
            <xs:enumeration value="181"/>
            <xs:enumeration value="182"/>
            <xs:enumeration value="207"/>
            <xs:enumeration value="208"/>
            <xs:enumeration value="213"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="characteristics">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="characteristic_id" type="characteristic_id"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="characteristic_id">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="premiere"/>
            <xs:enumeration value="deutsche-erstauffuehrung"/>
            <xs:enumeration value="deutschsprachige-erstauffuehrung"/>
            <xs:enumeration value="berliner-premiere"/>
            <xs:enumeration value="vorauffuehrung"/>
            <xs:enumeration value="zum-letzten-mal-dieser-spielzeit"/>
            <xs:enumeration value="zum-letzten-mal"/>
            <xs:enumeration value="einfuehrung"/>
            <xs:enumeration value="familienpreise"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="leaders">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="leader" type="leader"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="leader">
        <xs:sequence>
            <xs:element name="prefix_id" type="prefix_id" minOccurs="0"/>
            <xs:element name="first_name" type="xs:string" minOccurs="0"/>
            <xs:element name="last_name" type="xs:string"/>
            <xs:element name="function_de" type="xs:NCName"/>
            <xs:element name="function_en" type="xs:NCName"/>
            <xs:element name="sort_order" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="authors">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="author" type="productionAuthor"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="mediaFileAuthor">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:complexType name="productionAuthor">
        <xs:sequence minOccurs="0">
            <xs:element name="prefix_id" type="prefix_id" minOccurs="0"/>
            <xs:element name="first_name" type="xs:string" minOccurs="0"/>
            <xs:element name="last_name" type="xs:string"/>
            <xs:element name="authorship_type_id" type="authorship_type_id"/>
            <xs:element name="sort_order" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="participants">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="participant" type="participant"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="participant">
        <xs:sequence>
            <xs:element name="prefix_id" type="prefix_id" minOccurs="0"/>
            <xs:element name="first_name" type="xs:string" minOccurs="0"/>
            <xs:element name="last_name" type="xs:string"/>
            <xs:element name="involvement_type_id" type="involvement_type_id" minOccurs="0"/>
            <xs:element name="role_de" type="xs:string" minOccurs="0"/>
            <xs:element name="role_en" type="xs:string" minOccurs="0"/>
            <xs:element name="instrument_de" type="xs:string" minOccurs="0"/>
            <xs:element name="instrument_en" type="xs:string" minOccurs="0"/>
            <xs:element name="sort_order" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="videos">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="video" type="video"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="video">
        <xs:sequence>
            <xs:element name="creation_date" type="xs:dateTime"/>
            <xs:element name="modified_date" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="title_de" type="xs:string"/>
            <xs:element name="title_en" type="xs:string"/>
            <xs:element name="embed" type="xs:string"/>
            <xs:element name="sort_order" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="live_streams">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="live_stream" type="live_stream"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="live_stream">
        <xs:sequence>
            <xs:element name="creation_date" type="xs:dateTime"/>
            <xs:element name="modified_date" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="title_de" type="xs:string"/>
            <xs:element name="title_en" type="xs:string"/>
            <xs:element name="embed" type="xs:string"/>
            <xs:element name="sort_order" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="images">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="image" type="image"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="image">
        <xs:sequence>
            <xs:element name="creation_date" type="xs:dateTime"/>
            <xs:element name="modified_date" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="url" type="image_url"/>
            <xs:element name="title_de" type="xs:string"/>
            <xs:element name="title_en" type="xs:string"/>
            <xs:element name="description_de" type="xs:string" minOccurs="0"/>
            <xs:element name="description_en" type="xs:string" minOccurs="0"/>
            <xs:element name="author" type="mediaFileAuthor" minOccurs="0"/>
            <xs:element name="copyright_restrictions" type="copyright_restrictions"/>
            <xs:element name="copyright" type="xs:string" minOccurs="0"/>
            <xs:element name="sort_order" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="image_url">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value=".+\.(png|jpg|jpeg|PNG|JPG|JPEG)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="copyright_restrictions">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="general_use"/>
            <xs:enumeration value="protected"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="pdfs">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="pdf" type="pdf"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="pdf">
        <xs:sequence>
            <xs:element name="creation_date" type="xs:dateTime"/>
            <xs:element name="modified_date" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="url" type="pdf_url"/>
            <xs:element name="title_de" type="xs:string"/>
            <xs:element name="title_en" type="xs:string"/>
            <xs:element name="description_de" type="xs:string" minOccurs="0"/>
            <xs:element name="description_en" type="xs:string" minOccurs="0"/>
            <xs:element name="author" type="mediaFileAuthor" minOccurs="0"/>
            <xs:element name="copyright" type="xs:string" minOccurs="0"/>
            <xs:element name="sort_order" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="pdf_url">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value=".+\.(pdf|PDF)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="language_and_subtitles_id">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="in-englischer-sprache"/>
            <xs:enumeration value="sprache-kein-problem"/>
            <xs:enumeration value="mit-engl-uebertiteln"/>
            <xs:enumeration value="mit-franzoesischen-uebertiteln"/>
            <xs:enumeration value="andere-sprache"/>
            <xs:enumeration value="simultanubersetzung-englisch-deutsch"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="sponsors">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="sponsor" type="sponsor"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sponsor">
        <xs:sequence>
            <xs:element name="creation_date" type="xs:dateTime"/>
            <xs:element name="modified_date" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="website" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="image_url" type="image_url" minOccurs="0"/>
            <xs:element name="title_de" type="xs:string" minOccurs="0"/>
            <xs:element name="title_en" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="prefix_id">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="mr"/>
            <xs:enumeration value="ms"/>
            <xs:enumeration value="dr"/>
            <xs:enumeration value="prof"/>
            <xs:enumeration value="mr-dr"/>
            <xs:enumeration value="ms-dr"/>
            <xs:enumeration value="mr-prof"/>
            <xs:enumeration value="ms-prof"/>
            <xs:enumeration value="mr-prof-dr"/>
            <xs:enumeration value="ms-prof-dr"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="authorship_type_id">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="komponist"/>
            <xs:enumeration value="autor"/>
            <xs:enumeration value="uebersetzer"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="involvement_type_id">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ausstatter"/>
            <xs:enumeration value="buhnenbildner"/>
            <xs:enumeration value="chor"/>
            <xs:enumeration value="choreografie"/>
            <xs:enumeration value="dirigent"/>
            <xs:enumeration value="diskussionsteilnehmer"/>
            <xs:enumeration value="dramaturgie"/>
            <xs:enumeration value="einrichtung"/>
            <xs:enumeration value="einstudierung"/>
            <xs:enumeration value="ensemble"/>
            <xs:enumeration value="inspizient"/>
            <xs:enumeration value="kostume"/>
            <xs:enumeration value="kuenstler"/>
            <xs:enumeration value="kunstlerische-leitung"/>
            <xs:enumeration value="licht"/>
            <xs:enumeration value="moderator"/>
            <xs:enumeration value="musik"/>
            <xs:enumeration value="orchester"/>
            <xs:enumeration value="performer"/>
            <xs:enumeration value="produktionsleitung"/>
            <xs:enumeration value="pyrothechnik"/>
            <xs:enumeration value="referent"/>
            <xs:enumeration value="regie"/>
            <xs:enumeration value="regieassistenz"/>
            <xs:enumeration value="requisite"/>
            <xs:enumeration value="rezitation"/>
            <xs:enumeration value="saenger"/>
            <xs:enumeration value="schauspieler"/>
            <xs:enumeration value="solist"/>
            <xs:enumeration value="souffleur-souffleuse"/>
            <xs:enumeration value="statisterie"/>
            <xs:enumeration value="taenzer"/>
            <xs:enumeration value="text"/>
            <xs:enumeration value="video"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
